body {
    background-color: rgb(31, 31, 31);
    background-image: url(../img/fondo-s-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.box1 {
    height: 80vh;
}

.sub-logo-text {
    color: rgb(219, 219, 219);
}

.logo-white-s {
    width: 300px;
}

@media (min-width: 768px){

    body {
        background-image: url(../img/fondo-l-3.png);
    }

    .logo-white-s {
        width: 500px;
        padding-bottom: 1%;
    }
    
}
