body {
    background-color: rgb(33, 33, 33);
}

.logo-top-menu {
    width: 250px;
}

.top-bar {
    background-color: rgb(33, 33, 33) !important;
}

.navbar-text {
    color: rgb(202, 202, 202) !important;
}

.custom-icon {
    background-color: rgb(236, 134, 1);
    height: 32px;
    display: flex;
    align-items: center;
}

.video-box {
    padding-top: 55px;
    padding-left: 0;
    padding-right: 0;
}

.video-top {
    width: 100%;
    object-fit: cover;
}

.box2 {
    padding: 0;
    height: fit-content;
}

.sign-up {
    background-color: rgb(33, 33, 33) ;
    height: 50px;
    width: 100%;
}
.burguer-mes {
    width: 100%;
}

.box3 {
    background-color: rgb(33, 33, 33);
}

.signs {
    color: orange;
    font-family:Impact;
    font-size: large;
    padding: 10px;
}

.text-footer {
    color: orange;
    width: 100%;
}

@media (min-width: 768px) {


    .video-box {
        height: 400px;
    }

    .video-top {
        height: 100%;
    }
}

@media (min-width: 360px) {


}