body {
    background-color: rgb(33, 33, 33);
}

.logo-top-menu {
    width: 250px;
}

.top-bar {
    background-color: rgb(33, 33, 33) !important;
}

.navbar-text {
    color: rgb(202, 202, 202) !important;
}

.custom-icon {
    background-color: rgb(236, 134, 1);
    height: 32px;
    display: flex;
    align-items: center;
}

.top-banner-text {
    color: aliceblue;
}

.banner-top-container {
    padding-top: 60px;
}

.banner-top {
    background-size: cover;
    background-position: center center;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-top-2 {
    background-image: url(../img/top-banner-1.png);
}

.banner-top-3 {
    background-image: url(../img/top-banner-2.png);
}

.top-banner-text {
    font-size:xxx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 3px 0 20px;
    background-size: cover;
}

.banner-carta {
    margin-top: 20px;
    background-color: orange;
    height: 180px;
}

.text-carta {
    font-size: xxx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* /// ZONA DE RESERVAS /// */


.continuar-btn {
    width: 100%;
    margin-top: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}

.form-container {
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding-top: 60px;
}

.tx-form {
    font-family:Impact;
    font-size: large;
}

.box-reservation {
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(33, 33, 33, 0.828);
}

.back-reservation {
    background-image: url(../img/reservas-fondo-m.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.res-done {
    background-color: orange;
    height: 200px;
}

/* /// BURGUER DEL MES /// */

.back-burguer {
    background-image: url(../img/burguer-mes-back-l.png);
}

/* /// ZONA LOCAL /// */

.text-local-box {
    padding: 30px;
    width: 60%;
}

.text-local {
    color: rgb(194, 194, 194);
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
}

.map {
    height: 100%;
    width: 100%;
}

.text-up-map {
    text-align: center;
    font-size: large;
    color: orange !important;
}

.text-footer {
    color: orange;
    width: 100%;
}


/* /// MEDIAS /// */

@media (min-width: 801px){
    .grid-bottom-burguer {
        padding-top: 20px;
    }

    .text-up-map {
        font-size: xx-large;
    }

}

@media (max-width: 600px){
    .text-local-box {
        padding: 10px;
        width: 100%;
    }

    .text-local {
        font-size: medium;
    }
}

@media (max-width: 900px){

    .text-local-box {
        padding: 10px;
        width: 80%;
    }

    .text-local {
        font-size: large;
    }
}

@media (max-width: 400px){
.back-burguer {
    background-image: url(../img/burguer-mes-back-s.png);
}
}