body {
    background-color: rgb(33, 33, 33);
}

.logo-top-menu {
    width: 250px;
}

.top-bar {
    background-color: rgb(33, 33, 33) !important;
}

.navbar-text {
    color: rgb(202, 202, 202) !important;
}

.custom-icon {
    background-color: rgb(236, 134, 1);
    height: 32px;
    display: flex;
    align-items: center;
}

.top-banner-text {
    color: aliceblue;
}

.banner-top-container {
    padding-top: 60px;
}

.banner-top {
    background-size: cover;
    background-position: center center;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-top-2 {
    background-image: url(../img/top-banner-1.png);
}

.banner-top-3 {
    background-image: url(../img/top-banner-2.png);
}

.top-banner-text {
    font-size:xxx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 3px 0 20px;
    background-size: cover;
}

@media (min-width: 801px){
    .grid-bottom-burguer {
        padding-top: 20px;
    }

}